*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
    background:rgb(14, 34, 77) !important;

  }

  h1{
    color: #32bda4;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
  }
  h2{
    color: #32bda4;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
  }
  h3{
    color: #32bda4;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
  }
  
  p{
    text-align: center;
    color: aliceblue;
  }

  .section-title h2 {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      padding-bottom: 6px;
      color: #000;
      letter-spacing: 0.3px;
      padding: 0;
  }
  .section-title::after {
      content: "";
      height: 3px;
      background: #fff;
      width: 80px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
  }
  /****************/
  /*	 BX-SLIDER 	*/
  /****************/
  section.client {
    overflow: hidden;
  }
  section.client .section-title {
      margin-bottom: 6em;
  }
  .bx-controls {
      position: relative;
  }
  .bx-wrapper {
    -moz-box-shadow: 0 0 5px rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 5px rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(255, 255, 255);
    border: 5px solid #fff;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
}
  .bx-wrapper .bx-pager {
      text-align: center;
      padding-top: 30px;
      display: none;
  }
  .bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
      display: inline-block;
      *zoom: 1;
      *display: inline;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
      background: #666;
      text-indent: -9999px;
      display: block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      outline: 0;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
  }
  
  /* main */
  #videoBG {
    position:absolute;
    top: 142px;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .poster{
    margin-bottom: 130px;
  }
  .poster .content{
    position: relative;
    z-index: 1;
  }
  .info{
  }
  .info .img{
    margin-top: 20px;
  }
  .info .img img{
    width: 400px;
  }
  .card-info{
    text-align: center;
    padding: 30px 0;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    background: rgb(95 158 160 / 30%);
    backdrop-filter: blur(5px);
    width: 452px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
  .card-info .register{
    padding: 20px 0;
  }
  .card-info .register p{
    height: 10px;
    font-weight: bold;
  }
  .card-info .event{
    background: rgb(255, 255, 255);
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 18px;
  }
  .card-info .event p{
    color: black;
    font-weight: bold;
    font-size: 20px;
    height: 15px;
  }
  .card-info .event h3{
    font-weight: bold;
    font-size: 20px;
  }
  .card-info .certificate{
    border: 2px solid #ffffff;
    margin-left: 126px;
    margin-right: 126px;
    border-radius: 5px;
    padding: 5px 0px;
  }
  .card-info .certificate p{
    height: 10px;
  }
  .footer{
    
  }